.footer {
  border-radius: var(--radius-lg) var(--radius-lg) 0 0;
  padding: 20px 0;
  grid-area: footer;
  width: 100%;
  background-color: var(--background-secondary);
  margin-top: auto;

  &-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    gap: var(--spacing-m);
  }
  &-column {
    flex: 1 1 30%;
    margin-bottom: 20px;
  }
  &-title {
    font-size: var(--font-size-large);
    margin-bottom: 10px;
    color: var(--font-color-light);
  }
  &-link {
    text-decoration: none;
    color: var(--font-color-light);
    font-size: 1rem;
    &:hover {
      text-decoration: underline;
      color: var(--link-color);
    }
  }

  li {
    list-style: none;
    margin-bottom: var(--spacing-s);
    &:last-child {
      margin-bottom: 0;
    }
  }
  @media (max-width: 768px) {
    margin-bottom: 75px;
    &-container {
      flex-direction: column;
    }

    &-column {
      flex: 1 1 100%;
      margin-bottom: 20px;
    }
  }

  @media (min-width: 992px) and (max-width: 1199px) {
    &-column {
      flex: 1 1 45%;
    }
  }

  @media (min-width: 1200px) {
    &-container {
      display: flex;
      flex-wrap: nowrap;
    }

    &-column {
      flex: 1 1 30%;
    }
  }
}

.skeleton-box {
  height: 1em;
  background-color: var(--skeleton-base);
  border-radius: var(--radius-sm);
  animation: shimmer 1.5s infinite linear;
  background-image: linear-gradient(
    to right,
    var(--skeleton-base) 0%,
    var(--skeleton-highlight) 20%,
    var(--skeleton-base) 40%,
    var(--skeleton-base) 100%
  );
  background-size: 200% 100%;
  margin-bottom: 10px;
}
.footer-title.skeleton-box {
  height: 1.5em;
  width: 50%;
}
.footer-link.skeleton-box {
  height: 1em;
  width: 70%;
}
