.modal-pdf-view {
  width: calc(100vw - var(--space-lg));
  height: calc(100vh - var(--space-lg));
  background: #f7f7f7;
  display: flex;
  flex-direction: column;
  iframe {
    width: 100%;
    height: 100%;
    border: none;
  }
}
