.article {
  &__header {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: var(--spacing-m);
    gap: var(--spacing-l);
  }
  &__date {
    display: block;
    font-size: var(--font-size-medium);
    font-weight: bold;
    color: var(--font-color-gray);
  }

  &__type {
    border-radius: var(--spacing-m);
    padding: var(--spacing-xxs) var(--spacing-m);
    background-color: var(--accent-color);
    color: var(--button-text);
    letter-spacing: 0.05em;
    font-size: var(--font-size-medium);
  }

  &__title {
    font-size: 28px;
    color: #222;
    font-weight: 700;
    line-height: 1.2;
    margin: 0;
  }
  @media screen and (max-width: 768px) {
    &__header {
      justify-content: space-between;
    }
  }
}
