.home {
  color: var(--font-color-primary);
  display: flex;
  flex-direction: column;
  &__content {
    display: grid;
    gap: var(--space-md);
  }
}
.Cell {
  display: flex;
  flex-direction: column;

  gap: var(--space-md);
  img {
    max-width: 100%;
    border-radius: var(--radius-lg);
    @media (max-width: 768px) {
      border-radius: 0;
    }
  }
}
.table-page {
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
}
