.vacancy-page {
  color: var(--font-color-light);

  &__title {
    font-size: var(--font-size-xxl);
    margin-bottom: var(--spacing-m);
    color: var(--font-color-light);
  }

  &__details {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xs);
    font-size: var(--font-size-xl);
    font-weight: bold;
    margin-bottom: var(--spacing-l);

    p {
      margin: 0;
    }
  }

  &__description {
    margin-bottom: var(--spacing-l);

    h2 {
      font-size: var(--font-size-xl);
      margin-bottom: var(--spacing-s);
    }

    p {
      font-size: var(--font-size-medium);
      line-height: 1.6;
      color: var(--font-color-light);
    }
  }

  &__sections {
    h3 {
      font-size: var(--font-size-large);
      margin: var(--spacing-m) 0 var(--spacing-s);
      color: var(--font-color-light);
    }
  }
}
