.vacancy-page {
  color: var(--font-color-primary);

  &__title {
    font-size: var(--font-size-xxl);
    margin-bottom: var(--space-md);
    color: var(--font-color-primary);
  }

  &__details {
    display: flex;
    flex-direction: column;
    gap: var(--space-sm);
    font-size: var(--font-size-xl);
    font-weight: bold;
    margin-bottom: var(--space-lg);

    p {
      margin: 0;
    }
  }

  &__description {
    margin-bottom: var(--space-lg);

    h2 {
      font-size: var(--font-size-xl);
      margin-bottom: var(--space-sm);
    }

    p {
      font-size: var(--font-size-medium);
      line-height: 1.6;
      color: var(--font-color-primary);
    }
  }

  &__sections {
    h3 {
      font-size: var(--font-size-large);
      margin: var(--space-md) 0 var(--space-sm);
      color: var(--font-color-primary);
    }
  }
}
