.input {
  border: 1px solid var(--border-tertiary);
  width: 100%;
  padding: var(--space-sm) var(--space-md);
  background-color: var(--color-form-input);
  color: var(--color-form-input-text);
  border-radius: var(--radius-md);
  font-size: var(--font-size-medium);
}
.input--error {
  border-color: var(--red);
}
.error-message {
  color: var(--red);
  font-size: var(--font-size-small);
}

.input__container {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
  width: 100%;
  label {
    font-size: var(--font-size-medium);
    padding-left: var(--space-sm);
  }
  input {
    font-size: var(--font-size-medium);
  }
}
.input {
  &__info-message {
    color: var(--red);
    font-size: var(--font-size-small);
  }
}
