.Radio-Form{
    width: 100%;
    fieldset {
        width: 100%;
        padding: var(--spacing-xs);
       
        // box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        display: inline-block;
        border: none;
    }
    
    legend {
     
        font-weight: bold;
       

    }
    
    input[type="radio"] {
        appearance: none;
        -webkit-appearance: none;
        width: 20px;
        height: 20px;
        border: 2px solid var(--accent-color);
        border-radius: 50%;
        margin-right: 10px;
        background-color: transparent;
        position: relative;
     
    }
    
    input[type="radio"]:checked::before {
        content: "";
        display: block;
        width: 12px;
        height: 12px;
        background-color: var(--accent-color);
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        animation: appear 0.8s;
    }
    
    label {
   
        font-weight: bold;
     
    }
    
    div {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }
    
    @keyframes appear {
        0% {
            transform: translate(-50%, -50%) scale(0);
            background-color: #fff;
        }
        45% {
            transform: translate(-50%, -50%) scale(1.6);
            background-color: var(--accent-color);
        }
        50% {
            transform: translate(-50%, -50%) scale(1.7);
            background-color: var(--accent-color);
        }
        55% {
            transform: translate(-50%, -50%) scale(1.6);
        }
        100% {
            transform: translate(-50%, -50%) scale(1);
            background-color: var(--accent-color);
        }
    }
    
}
.Radio{
    display: flex;
}