[data-accessibility~='scheme-brown-beige'] {
  /*Основные акценты */
  --red: #9b592a;
  --dark-red: #6d3c15;
  --gray: #999;

  /*Кнопки */
  --accent-color: #d9a56d;
  --accent-color-hover: #c48c56;
  --button-text: #ffffff;

  /*Альтернативные кнопки */
  --btn-color-alt: #1c1c1e;
  --btn-color-alt-hover: #000000;
  --btn-text-alt: #e4dbdb;

  /*Фоны */
  --background-primary: #c48c56;
  --background-secondary: #f0e6d9;
  --background-footer: #f0f0f0;
  --background-footer-item: #ffffff;
  --background-block: #ffffff;

  /*Тексты */
  --font-color-primary: #000000;
  --font-color-secondary: #444444;
  --font-color-tertiary: #6b6b6c;
  --font-color-inverse: #ffffff;
  --font-color-footer: #333333;

  /*Ссылки */
  --link-color: #4e342e;
  --link-bg: #f8f3ef;
  --link-border: transparent;
  --link-hover-border: #4e342e;
  --link-hover-bg: #f1e2d2;
  --link-focus-shadow: rgba(155, 89, 42, 0.4);
  --link-info-color: #6b6b6c;

  /*Формы */
  --color-form-input: #ffffff;
  --color-form-input-text: #000000;
  --form-text: #6b6b6c;

  /*Границы */
  --border-secondary: #000000;
  --border-tertiary: #5acc18;
  --border-primary: #000000;

  /*Серые оттенки */
  --gray-lightest: #f9f5f0;
  --gray-lighter: #e0d8cc;
  --gray-light: #bca89a;
  --gray-medium: #8a6d5c;
  --gray-dark: #5d4037;
  --gray-darker: #3b2316;

  /*Тени */
  --shadow-primary: rgba(60, 64, 67, 0.3);
  --shadow-secondary: rgba(9, 36, 51, 0.12);
  --shadow-tertiary: rgba(0, 0, 0, 0.08);

  /* Затемнение (оверлей) */
  --color-overlay: rgba(0, 0, 0, 0.7);

  /*QR и Скелетон */
  --qr-color: #000000;
  --skeleton-base: #d6c7ba;
  --skeleton-highlight: #e8d9cb;
}
