:root,
[data-accessibility~='scheme-light'] {
  /*Красные акценты */
  --red: #cb0e4e;
  --dark-red: #a00c3d;
  --gray: #999;
  /*Основные акценты */
  --accent-color: #e9540d; /* Основной оранжевый */
  --accent-color-hover: #b5740f; /* Оранжевый при наведении */
  --button-text: #ffffff; /* Текст на кнопке */

  /*Альтернативные кнопки */
  --btn-color-alt: #e9eaed; /* Вторичный оранжевый */
  --btn-color-alt-hover: #ebebeb; /* Hover для вторичной */
  --btn-text-alt: #26262f; /* Текст на альтернативной */
  --background-footer-item: #ffffff; /* Элементы в панели (кнопки, карточки) */

  /*Фоновые цвета */
  --background-primary: #f5f5f7; /* Основной фон, слегка холодный */
  --background-secondary: #ffffff; /* Альт. фон — заметнее отличается от основного */
  --background-footer: #1a1a1a; /* Фон подвала */
  --background-block: #ffffff; /* Общие блоки, отделяются от чисто белого */

  /*Цвета текста */
  --font-color-primary: #000000; /* Основной текст */
  --font-color-secondary: #4d4d4d; /* Второстепенный текст */
  --font-color-tertiary: #7a7a7a; /* Третичный текст для подписей, меток */
  --font-color-inverse: #ffffff; /* Для темного фона или кнопок */
  --font-color-footer: #cccccc; /* Текст в подвале */
  /*Серые оттенки */
  --gray-lightest: #f5f5f5; /* Очень светлый серый, для фона блоков */
  --gray-lighter: #e0e0e0; /* Светлый серый для границ и фоновых элементов */
  --gray-light: #bfbfbf; /* Средне-светлый серый для текста второстепенного уровня */
  --gray-medium: #999999; /* Средний серый для текста и границ */
  --gray-dark: #666666; /* Темно-серый для второстепенного текста */
  --gray-darker: #333333; /* Почти черный для яркого текста */

  /*Ссылки */
  --link-color: #b45309; /* Тёплый оранжево-коричневый */
  --link-bg: #fff8ed; /* Фон ссылки */
  --link-border: transparent;
  --link-hover-border: #b45309;
  --link-hover-bg: #fef3c7; /* Очень светлый жёлтый */
  --link-focus-shadow: rgba(181, 116, 15, 0.4); /* Оранжевый фокус */
  --link-info-color: #6b6b6c; /* Инфо-ссылки */

  /*Цвета для форм */
  --color-form-input: #eff0f2; /* Фон input */
  --color-form-input-text: #000000; /* Текст input */
  --form-text: #6b6b6c; /* Подписи, плейсхолдеры */

  /*Границы */
  --border-primary: transparent;
  --border-secondary: #000000; /* Чёткие границы */
  --border-tertiary: #cccccc83; /* Мягкие границы */

  /*Меню и списки */
  --menu-item-text: #000000; /* Текст в меню */
  --list-item-text: #754c00; /* Коричневатый для списков */

  /*Тени */
  --shadow-primary: rgba(0, 0, 0, 0.12);
  --shadow-secondary: rgba(0, 0, 0, 0.18);
  --shadow-tertiary: rgba(0, 0, 0, 0.1);

  /* Затемнение (оверлей) — полупрозрачный черный */
  --color-overlay: rgba(0, 0, 0, 0.7);

  /*QR / Скелетон */
  --qr-color: #000000;
  --skeleton-base: #ccc;
  --skeleton-highlight: #e0e0e0;
}
