.tabsContainer {
  border-radius: var(--radius-lg);
  color: var(--font-color-primary);
}

.tabList {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-s);
  margin-bottom: var(--spacing-m);
  @media (max-width: 768px) {
    padding: 0 var(--spacing-m);
  }
}

.tabButton {
  background: var(--btn-color-alt);
  color: var(--btn-text-alt);
  border: none;
  padding: var(--spacing-xs) var(--spacing-m);
  border-radius: var(--radius-md);
  cursor: pointer;
  transition: background 0.2s linear;

  &:hover {
    background: var(--btn-color-alt-hover);
  }
}

.active {
  background: var(--accent-color);
  color: var(--button-text);
  &:hover {
    background: var(--accent-color-hover);
  }
}
