.mobile-menu {
  &__item {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    color: var(--font-color-gray);
    gap: var(--spacing-xs);
  }
  &__logo {
    border-radius: var(--radius-md);
    svg {
      width: 30px;
      height: 30px;
    }
  }
  &__title {
    font-size: var(--font-size-small);
  }
  &__toggle {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--background-alt);
    color: var(--font-color-light);
    border-top: 1px solid var(--border-color2);
    z-index: 100;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: var(--spacing-xs) 0;

    button,
    a {
      color: var(--font-color-light);
      text-decoration: none;
      font-weight: 600;
      background: none;
      border: none;
      cursor: pointer;

      &:hover {
        background-color: var(--accent-color-hover);
        color: var(--button-text);
      }
    }
  }

  &__overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.774);

    z-index: 999;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;

    &--active {
      opacity: 1;
      visibility: visible;
    }
  }

  &__panel {
    position: absolute;
    top: 0;
    right: 0;
    width: 75%;
    max-width: 320px;
    height: 100%;
    background-color: var(--background-main);

    transform: translateX(100%);
    transition: transform 0.3s ease;
    z-index: 1001;

    &--open {
      transform: translateX(0);
    }
  }

  &__content {
    padding: 16px;
    height: 100%;
    overflow-y: auto;
  }
}
