.block{
    width: 100%;
    padding: var(--spacing-m);
    border-radius: var(--radius-lg);
    background: var(--block-bg);
    color: var(--font-color-light);
    width: 100%;
    box-shadow: 0 1px 4px #e3ebfc, 0 24px 48px #e6ebf566
    img{
        max-width: 100%;
    }
}