.block {
  width: 100%;
  padding: var(--space-md);
  border-radius: var(--radius-lg);
  background: var(--background-block);
  color: var(--font-color-primary);
  display: flex;
  flex-direction: column;
  gap: var(--space-md);

  img {
    max-width: 100%;
  }

  @media (max-width: 768px) {
    border-radius: 0;
  }
}
