.AccessibilityUI {
  width: 100%;
  min-height: 200px;
  background-color: rgb(245, 240, 240);
  padding: var(--spacing-l);
  position: relative;
  display: flex;

  &__block-wrap {
    width: 100%;
    display: flex;
    gap: var(--spacing-xs);
    align-items: center;
  }

  &__button-exit {
    font-size: 16px !important;
  }
}
