.accessibility-modal {
  width: 600px;

  h2 {
    font-size: 24px;
    font-weight: bold;
  }
  &__button-exit {
    font-size: 16px !important;
  }

  &__controls {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xs);
    align-items: flex-start;
    width: 100%;
  }

  &__footer {
    margin-top: var(--spacing-m);
  }
}
