@import 'themes/light.scss';
@import 'themes/dark.scss';
@import 'themes/BlackWhite.scss';
@import 'themes/WhiteBlack.scss';
@import 'themes/BrownBeige.scss';
@import 'themes/DarkBlueSky.scss';
@import 'themes/GreenBrown.scss';
@import 'animations/index.scss';
@import 'whitespace.scss';
@import 'font-size.scss';
@import 'layout.scss';

@import 'kern.scss';
/* Safari */
*::selection {
  background: var(--accent-color-hover);
  color: var(--button-text);
}
/* Firefox */
*::-moz-selection {
  background: var(--accent-color-hover);
  color: var(--button-text);
}
/* Стилизация скроллинга */

*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

*::-webkit-scrollbar-thumb {
  background: var(--accent-color-hover);
  border-radius: 5px;
}

*::-webkit-scrollbar-track {
  background: var(--background-main);
}

*::-webkit-scrollbar-track-piece {
  background: var(--background-main);
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  overflow-x: hidden;
  background-color: var(--background-main);
  font-size: var(--font-size-medium);
}

h1 {
  font-size: var(--font-size-xxl);
}

h2 {
  font-size: var(--font-size-xl);
}

h3 {
  font-size: var(--font-size-large);
}

h4 {
  font-size: calc(var(--font-size-large) * 0.9);
}

h5 {
  font-size: var(--font-size-medium);
}

h6 {
  font-size: calc(var(--font-size-medium) * 0.875);
}
.app {
  height: 100%;
}
.shadow__style {
  border: 0.0625rem solid var(--border-color3);
  box-shadow:
    var(--shadow-color-1) 0px 1px 3px,
    var(--shadow-color-2) 0px 1px 2px;
}

*,
*::before,
*::after {
  font-family: var(--font-inter), sans-serif;
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

input,
button {
  outline: none;
}

a {
  text-decoration: none;
}

// /* для Chrome/Edge/Safari */
.content-container {
  max-width: 1200px;
  margin: 0 auto;
  @media screen and (max-width: 1220px) {
    padding: 0 20px;
  }
}
