// THEMES
@import 'themes/theme-light';
@import 'themes/theme-dark';
@import 'themes/theme-black-white';
@import 'themes/theme-white-black';
@import 'themes/theme-brown-beige';
@import 'themes/theme-dark-blue-sky';
@import 'themes/theme-green-brown';

// BASE
@import 'base/whitespace';
@import 'base/font-size';
@import 'base/layout';
@import 'base/kern';
@import 'base/overrides';

// UTILS
@import 'utils/helpers';

// ANIMATIONS
@import 'animations/index';

// RESET
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: var(--font-inter), sans-serif;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

input,
button {
  outline: none;
}

a {
  text-decoration: none;
}

// BODY
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  background-color: var(--background-primary);
  font-size: var(--font-size-medium);
  line-height: 1.5;
}

// HEADINGS
h1 {
  font-size: var(--font-size-xxl);
}
h2 {
  font-size: var(--font-size-xl);
}
h3 {
  font-size: var(--font-size-large);
}
h4 {
  font-size: calc(var(--font-size-large) * 0.9);
}
h5 {
  font-size: var(--font-size-medium);
}
h6 {
  font-size: calc(var(--font-size-medium) * 0.875);
}
