.toggle {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;

  &__input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  &__slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--gray);
    border-radius: 30px;
    transition: 0.25s all cubic-bezier(0.75, 0.01, 0.48, 2);
    height: 30px;

    &::before {
      content: '';
      position: absolute;
      height: 26px;
      width: 26px;
      left: 2px;
      bottom: 2px;
      background-color: white;
      border-radius: 50%;
      transition: 0.25s all cubic-bezier(0.75, 0.01, 0.48, 2);
    }
  }

  &--checked {
    .toggle__slider {
      background-color: var(--accent-color);

      &::before {
        transform: translateX(30px);
      }
    }
  }

  &--disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}
