.banner {
  width: 100%;
  height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: var(--space-md) var(--space-lg);
   background: var(--background-block);

  color: var(--font-color-primary);
  gap: var(--space-md);
  &__image-wrapper {
    max-width: 100%;
    overflow: hidden;
    min-height: 200px;
    display: flex;
    align-items: center;
    flex: 1;
  }

  &__image {
    max-height: 100%;
    max-width: 100%;
    display: block;

  }

  &__content {
    min-height: 50px; 
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__title {
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__link {
    text-decoration: none;
    display: block;
    width: 100%;
    max-width: 200px;
    text-align: center;
  }
}
