.banner {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; // Элементы равномерно распределяются
  padding: var(--spacing-m) var(--spacing-l);
  background-color: var(--block-bg);
  color: var(--font-color-light);
  gap: var(--spacing-m);
  &__image-wrapper {
    max-width: 100%;
    overflow: hidden;
    min-height: 200px; // Резервируем место для изображения
    display: flex;
    align-items: center;
    flex: 1;
  }

  &__image {
    max-height: 100%;
    max-width: 100%;
    display: block;
    // object-fit: cover;
  }

  &__content {
    min-height: 50px; // Резервируем место под кнопку
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__title {
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Ограничение на 2 строки */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__link {
    text-decoration: none;
    display: block;
    width: 100%;
    max-width: 200px;
    text-align: center;
  }
}
