.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--spacing-s) var(--spacing-l);
  font-size: var(--font-size-medium);
  transition: all 0.3s linear;
  line-height: 1;
  white-space: nowrap;
  border-radius: var(--radius-md);
  cursor: pointer;
  user-select: none;

  svg {
    width: 24px;
    height: 24px;
    margin-right: var(--spacing-xs);
  }

  &:active {
    transform: scale(0.98);
  }

  &-primary {
    color: var(--button-text);
    border: none;
    background-color: var(--accent-color);

    &:hover {
      background-color: var(--accent-color-hover);
    }
  }
  &-secondary {
    color: var(--btn-text-alt);
    border: 1px solid var(--border-tertiary);
    background-color: var(--btn-color-alt);

    &:hover {
      background-color: var(--btn-color-alt-hover);
    }
  }

  &-tertiary {
    background-color: transparent;
    color: var(--btn-text-alt);

    border: none;

    &:hover {
      background-color: var(--btn-color-alt-hover);
    }
  }

  &__disabled {
    opacity: 0.6;
    pointer-events: none;
    cursor: not-allowed;
  }
}
