.news-block {
  color: var(--font-color-primary);
  width: 100%;

  h2 {
    margin-bottom: var(--space-md);
    font-weight: bold;
  }

  &__wrap {
    display: flex;
    flex-direction: column;
    gap: var(--space-md);
  }

  &__error {
    color: red;
    font-weight: 600;
    margin-top: var(--space-sm);
  }
}
