.news-block {
  color: var(--font-color-light);
  width: 100%;

  h2 {
    margin-bottom: var(--spacing-m);
    font-weight: bold;
  }

  &__wrap {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-m);
  }

  &__error {
    color: red;
    font-weight: 600;
    margin-top: var(--spacing-s);
  }
}
