.breadcrumbs {
    padding:  var(--spacing-s) var(--spacing-m);
    width: 100%;
    background-color: var(--block-bg);
    border-radius: var(--radius-lg);
    border: 1px solid var(--border-color3);
    margin-bottom: var(--spacing-m);
   
  
    &__list {
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      margin: 0;
      padding: 0;
    }
  
    &__item {
      display: flex;
      align-items: center;
    }
  
    &__link {
      color: #2196f3;
      text-decoration: none;
      transition: color 0.3s;
  
      &:hover {
        color: #1976d2;
        text-decoration: underline;
      }
    }
  
    &__current {
      color: #757575;
      pointer-events: none;
    }
  
    &__separator {
      margin: 0 8px;
      color: #9e9e9e;
    }
  }