.block__richText {
  line-height: 200%;
  h1 {
    span {
      font-size: var(--font-size-xxl);
    }
    margin-top: var(--space-lg);
    margin-bottom: var(--space-md);
  }
  h2 {
    span {
      font-size: var(--font-size-xl);
    }
    margin-top: var(--space-lg);
    margin-bottom: var(--space-md);
  }
  h3 {
    span {
      font-size: var(--font-size-l);
    }
    margin-top: var(--space-lg);
    margin-bottom: var(--space-md);
  }
  blockquote {
    border: 1px solid var(--border-primary);

    font-weight: 500;
    font-style: italic;
    padding: var(--space-md) var(--space-lg);
    border-radius: var(--radius-md);
    background-color: var(--background-primary);
    z-index: 0;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    & > li {
      position: relative;
      display: block;
      margin-bottom: 0.25rem;
      padding: 0.325rem 0.825rem 0.325rem 1.325rem;
    }
    & > li:last-child {
      margin-bottom: 0;
    }
    & > li::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      width: 0.5rem;
      background: var(--accent-color);
    }
  }
  .paragraph {
    padding: var(--space-xs) 0;
  }
  .text-center {
    text-align: center;
  }
  .text-right {
    text-align: right;
  }
  .font-bold {
    font-weight: bold;
  }
  .mt-1 {
    margin-top: 0.25rem;
  }
  .mt-2 {
    margin-top: 0.5rem;
  }
  .mt-3 {
    margin-top: 0.75rem;
  }
  .mt-4 {
    margin-top: 1rem;
  }
  .mt-5 {
    margin-top: 1.25rem;
  }
  .mt-6 {
    margin-top: 1.5rem;
  }

  ol {
    list-style: none;
    counter-reset: list;
    margin: 0;
    padding: 0;
    overflow: hidden;
    & > li {
      position: relative;
      display: block;

      margin-left: 1.75rem;
      margin-bottom: 0.25rem;
      padding-left: 1rem;
    }
    & > li::before {
      content: counter(list) '.';
      counter-increment: list;
      position: absolute;
      left: -2rem;
      top: -0.25rem;
      bottom: -0.25rem;
      width: 2.5rem;
      line-height: 2rem;

      border: 0.25rem solid var(--background-block);
      text-align: center;
    }
  }
  ul,
  ol {
    margin-bottom: var(--space-sm);
  }
  .link_wrap {
    box-sizing: border-box;
    display: inline;
    width: 100%;
    color: #2b14ac;
    svg {
      width: 16px;
      height: 16px;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}

.link {
  border-radius: var(--radius-sm);
  padding: 0 var(--space-sm);
  margin-right: var(--space-sm);
  outline: none;

  &:hover,
  &:focus-visible {
    background-color: var(--link-hover-bg);
    text-decoration: none;
  }

  &__wrap {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__text {
    font-weight: 500;
    color: var(--link-color);
    text-decoration: underline;

    p,
    span {
      margin: 0;
      line-height: 1.4;
    }
  }

  &__info {
    margin-left: var(--space-sm);
    color: var(--link-info-color);
    font-size: 0.875rem;
  }
}
