.icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background: none;
  border: none;
  border-radius: var(--radius-md);
  padding: var(--space-sm);
  user-select: none;
  cursor: pointer;
  transition: all 0.3s linear;
  &:active {
    transform: scale(0.98);
  }
  svg {
    width: 24px;
    height: 24px;
    fill: currentColor;
  }

  &-primary {
    color: var(--button-text);
    border: none;
    background-color: var(--accent-color);

    &:hover {
      background-color: var(--accent-color-hover);
    }
  }
  &-secondary {
    color: var(--btn-text-alt);
    background-color: var(--btn-color-alt);
    border: none;

    &:hover {
      background-color: var(--btn-color-alt-hover);
    }
  }
}
