.dropdown {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);

  @media (min-width: 769px) {
    position: relative;
  }

  &__label {
    font-size: var(--font-size-medium);
    padding-left: var(--space-sm);
  }

  &__control {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--space-sm) var(--space-sm);
    background-color: var(--color-form-input);
    font-size: var(--font-size-medium);
    color: var(--color-form-input-text);
    border: 1px solid var(--border-tertiary);
    border-radius: var(--radius-md);
    cursor: pointer;
    user-select: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &__value {
    flex: 1;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  &__arrow {
    margin-left: var(--space-sm);
    font-size: 12px;
  }

  &__menu {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: var(--radius-md);
    overflow: hidden;
    max-height: calc(80vh - 200px);

    @media (min-width: 769px) {
      width: 100%;
      position: absolute;
      top: 100%;
      margin-top: var(--space-sm);
      background-color: var(--background-block);
      color: var(--color-form-input-text);
      border: 1px solid var(--border-tertiary);
      border-radius: var(--radius-md);
      padding: var(--space-md);
      max-height: 400px;
      z-index: 1001;
    }
  }

  &__list {
    flex: 1;
    overflow-y: scroll;
    max-height: 100%;
  }

  &__option {
    padding: var(--space-md) var(--space-lg);
    margin-right: var(--space-md);
    cursor: pointer;

    &:not(:last-child) {
      border-bottom: 1px solid var(--border-tertiary);
    }

    &--selected {
      border-left: 4px solid var(--accent-color);
      padding-left: calc(var(--space-lg) - 4px);
    }
  }

  &__header {
    display: flex;
    justify-content: flex-end;
    border-bottom: 1px solid var(--border-tertiary);
  }
}
