.star-rating {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-md);

  &__label {
    margin-right: var(--space-sm);
    font-weight: bold;
    font-size: var(--font-size-large);
  }
  &__star-group {
    display: flex;
    gap: var(--space-sm);
  }
  &__star {
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: var(--radius-sm);

    input {
      display: none;
    }

    .star-rating__icon {
      width: 35px;
      height: 35px;
      svg {
        width: 35px;
        height: 35px;
      }
      color: var(--gray-medium);
      transition: color 0.2s ease;
      &--fill {
        color: var(--yellow);
      }
      &:hover,
      &:hover ~ .starRating__icon {
        color: var(--yellow);
      }
    }

    input:checked ~ .starRating__icon,
    input:checked + .starRating__icon {
      color: var(--yellow);
    }
  }

  &__star input:checked ~ .starRating__icon {
    color: var(--yellow);
  }
}
