.radio-group {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  border: none;
  margin: 0;
  padding: 0;

  &__legend {
    font-weight: bold;
    margin-bottom: var(--space-md);
    width: 100%;
  }

  &__option {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--space-md);
    padding: var(--space-md) var(--space-lg);
    border: 2px solid var(--gray-medium);
    border-radius: var(--radius-md);
    cursor: pointer;
    transition: all 0.2s ease;
    flex: 1;
    min-width: 200px;

    background-color: gray;
    &:hover {
      border-color: #000;
      background-color: #fff;
    }

    &_active {
      border-color: #000;
      background-color: #fff;
    }
  }

  &__input {
    display: none;
  }

  &__input:checked + .radio-group__custom-radio {
    border-color: #007bff;
    background-color: #007bff;
  }

  &__preview {
    display: flex;
    align-items: center;
  }
}
