.navigation {
  $self: &;
  position: sticky;
  top: calc(var(--header-height) + var(--space-md));
  height: calc(100vh - var(--header-height) - (var(--space-md) * 2));
  width: 100%;
  grid-area: nav;
  transition: transform 0.3s ease;
  z-index: 100;
  padding: var(--space-md);
  border-radius: var(--radius-lg);
  background: var(--background-block);
  border: 1px solid var(--border-primary);
  font-size: var(--font-size-medium);
  font-weight: 700;

  ul {
    height: 100%;
    list-style: none;
  }

  &__list {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    flex: 1;
    &--padded {
      padding-right: var(--space-md);
    }
  }

  &--mobile {
    transform: translateX(-100%);

    &.navigation--open {
      transform: translateX(0);
    }
  }

  &__content {
    height: 100%;
    overflow-y: auto;
  }

  &__link {
    display: flex;
    align-items: center;
    padding: var(--space-sm) var(--space-md);
    border-radius: var(--radius-md);
    color: var(--font-color-primary);
    text-decoration: none;
    text-align: left;
    font-weight: 700;
    transition:
      background-color 0.3s ease-in-out,
      color 0.3s ease-in-out;

    &:hover {
      background-color: var(--accent-color-hover);
      color: var(--button-text);
    }
  }

  &__icon {
    width: 20px;
    height: 20px;
  }

  &__separator {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: var(--space-sm) var(--space-md);
    background-color: transparent;
    color: var(--font-color-secondary);
    font-size: var(--font-size-medium);
    font-weight: 700;
    border-bottom: 1px solid var(--border-secondary);

    &-label {
      flex: 1;
    }
  }

  &__dropdown {
    &-label {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: var(--space-sm) var(--space-md);
      border-radius: var(--radius-md);
      background: none;
      border: none;
      cursor: pointer;
      color: var(--font-color-primary);
      font-size: var(--font-size-medium);
      font-weight: 700;
      text-align: left;

      &:hover {
        background-color: var(--accent-color-hover);
        color: var(--button-text);
      }
    }

    &-icon {
      width: 20px;
      height: 20px;
      transition: transform 0.2s;
      svg {
        width: 20px;
        height: 20px;
      }

      &.open {
        transform: rotate(180deg);
      }
    }
  }

  &__submenu {
    list-style: none;
    transition:
      max-height 0.3s ease,
      opacity 0.3s ease;
    overflow: hidden;

    &--collapsed {
      max-height: 0;
      opacity: 0;
      pointer-events: none;
    }

    &--expanded {
      max-height: 10000px;
      opacity: 1;
      pointer-events: auto;
      margin: var(--space-sm) 0 var(--space-sm) var(--space-sm);
    }
  }
}
@media (max-width: 768px) {
  .navigation {
    &__list {
      display: flex;
      flex-direction: column;
      gap: var(--space-sm);
    }
    &__link {
      background-color: var(--background-secondary);
    }
    &__dropdown {
      background-color: var(--background-secondary);
      border-radius: var(--radius-md);
      &-label {
        background-color: var(--background-secondary);
      }
    }
  }
}
@media (hover: none) and (pointer: coarse) {
  .navigation__link:hover,
  .navigation__dropdown-label:hover {
    background-color: transparent !important;
    color: var(--font-color-primary) !important;
  }
}
