.file {
  display: flex;
  align-items: center;

  gap: var(--space-md);

  @media (max-width: 768px) {
    display: grid;
    grid-template-areas:
      'icon name'
      'buttons buttons';
  }
}

.icon {
  flex-shrink: 0;
  width: 70px;
  display: flex;
  justify-content: center;
  grid-area: icon;

  svg {
    width: 70px;
    height: 70px;
  }

  @media (max-width: 768px) {
    width: 100%;
  }
}

.name {
  grid-area: name;
  flex-grow: 1;
  font-size: var(--font-size-m);
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.buttons {
  display: flex;
  gap: var(--space-md);
  grid-area: buttons;

  button {
    font-size: 14px;
    width: 100%;
  }
}
