:root {
  /* Ошибки */
  --color-error: #ff0000;
  --color-error-dark: #b30000;
  --color-error-light: #ff4d4f;

  /* Предупреждения */
  --color-warning: #facc15;
  --color-warning-dark: #ca8a04;
  --color-warning-light: #fef08a;

  /* Успех */
  --color-success: #22c55e;
  --color-success-dark: #15803d;
  --color-success-light: #bbf7d0;

  /* Информация */
  --color-info: #3b82f6;
  --color-info-dark: #1d4ed8;
  --color-info-light: #bfdbfe;
}
