.checkbox {
  display: flex;
  align-items: start;
  cursor: pointer;
  user-select: none;
  font-size: var(--font-size-medium);

  input {
    display: none;
  }

  &__custom {
    width: 20px;
    height: 20px;
    border: 2px solid var(--accent-color);
    border-radius: var(--radius-sm);
    margin-right: var(--space-sm);
    position: relative;
    transition:
      background-color 0.15s linear,
      border-color 0.15s linear;
    flex-shrink: 0;

    &::after {
      content: '';
      position: absolute;
      top: 2px;
      left: 5px;
      width: 6px;
      height: 10px;
      border: solid white;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
      opacity: 0;
      transition: opacity 0.15s ease-in-out;
    }
  }

  &--checked &__custom {
    background-color: var(--accent-color);
    border-color: var(--accent-color);

    &::after {
      opacity: 1;
    }
  }

  &--disabled {
    cursor: not-allowed;
    opacity: 0.6;
  }
}
